.main{
    height: 100vh;
  width: 100%;
  }

  .container {
    width: 100%;
    overflow-x: hidden;
  }
  
  .body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 2vw;
    text-align: center;
    position: relative;
  
    @media screen and (min-width:1024px) {
      min-height: auto;
      height: 100vh;
      justify-content: center;
    }
  
  }
  
  @keyframes customAni {
    0%,
    100% {
      transform: rotate(-10deg);
      transform-origin: 50% 100%;
    }
  
    10% {
      transform: rotate(-8deg);
    }
  
    20%,
    40%,
    60% {
      transform: rotate(-10deg);
    }
  
    30%,
    50%,
    70% {
      transform: rotate(-8deg);
    }
  
    80% {
      transform: rotate(-10deg);
    }
  
    90% {
      transform: rotate(-8deg);
    }
  }
  
  @keyframes customAni2 {
    0%,
    100% {
      transform: rotate(10deg);
      transform-origin: 50% 100%;
    }
  
    10% {
      transform: rotate(8deg);
    }
  
    20%,
    40%,
    60% {
      transform: rotate(10deg);
    }
  
    30%,
    50%,
    70% {
      transform: rotate(8deg);
    }
  
    80% {
      transform: rotate(10deg);
    }
  
    90% {
      transform: rotate(8deg);
    }
  }
  
  
  @keyframes myAnim {
      0% {
          transform: translate(0) rotate(-8deg);
      }
  
      20% {
          transform: translate(2px, -2px) rotate(-5deg);
      }
  
      40% {
          transform: translate(2px, 2px) rotate(-8deg);
      }
  
      60% {
          transform: translate(-2px, 2px) rotate(-5deg);
      }
  
      80% {
          transform: translate(-2px, -2px) rotate(-10deg);
      }
  
      100% {
          transform: translate(0) rotate(-10deg);
      }
  }
  
  @keyframes myAnim2 {
      0% {
          transform: translate(0) rotate(10deg);
      }
  
      20% {
          transform: translate(2px, -2px) rotate(10deg);
      }
  
      40% {
          transform: translate(2px, 2px) rotate(10deg);
      }
  
      60% {
          transform: translate(-2px, 2px) rotate(10deg);
      }
  
      80% {
          transform: translate(-2px, -2px) rotate(10deg);
      }
  
      100% {
          transform: translate(0) rotate(10deg);
      }
  }
  
  .norush1 {
    width: 100%;
    max-width: 100px;
    height: auto;
    position: absolute;
    left: 12.5%;
    top: 25%;
    transform: rotate(-10deg);
  
    @media screen and (min-width:1024px) {
      max-width: 200px;
      top: 5rem;
      left: 9rem;
    }
    // animation: customAni 8s cubic-bezier(0.33, 1, 0.68, 1) 0s infinite normal none;
  }
  
  .norush2 {
    width: 100%;
    max-width: 80px;
    height: auto;
    position: absolute;
    left: 20%;
    z-index: 0;
    top: 5%;
  display: none;
    transform: rotate(10deg);
    // animation: customAni2 8s cubic-bezier(0.33, 1, 0.68, 1) 0s infinite normal none;
    @media screen and (min-width:1024px) {
      max-width: 200px;
      display: block;
    }
  }
  
  .norush3 {
    width: 100%;
    max-width: 80px;
    height: auto;
    position: absolute;
    right: 18rem;
    top: 15%;
    transform: rotate(-10deg);
    display: none;
    //animation: customAni 8s cubic-bezier(0.33, 1, 0.68, 1) 0s infinite normal none;
    @media screen and (min-width:1024px) {
      max-width: 200px;
      display: block;
    }
  }
  
  .norush4 {
    width: 100%;
    max-width: 100px;
    height: auto;
    position: absolute;
    right: 12.5%;
    top: 30%;
    transform: rotate(10deg);
    //animation: customAni2 8s cubic-bezier(0.33, 1, 0.68, 1) 0s infinite normal none;
    @media screen and (min-width:1024px) {
      max-width: 200px;
      top: 5%;
      right: 9rem;
    }
  }
  
  .loader{
    height: calc(100vh + 200px);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
  }
  
  .loader svg{
    height: 100%;
    width: 100%;
  }
  
  .loader svg path{
    stroke: black;
    stroke-width: 1px;
  }
  
  .prizes {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
    @media screen and (min-width:1024px) {
      height: 100vh;
    }
  }
  
  .prizelist {
    width: 90%;
  
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    @media screen and (min-width:1024px) {
      width: 80%;
    }
  }
  
  .prize {
    width: 100%;
    display: flex;
    transition: all 0.3s ease-in-out;
    position: relative;
    margin-bottom: 9rem;
    flex-direction: column;
    margin-left: 5%;
  
    @media screen and (min-width:1024px) {
      width: 48%;
      flex-direction: row;
      margin-left: 0;
    }
    &:hover {
      .prizeimage img {
        transform: rotate(-2deg);
      }
    }
  }
  
  
  
  
  .prizeimage {
    position: relative;
    z-index: 2;
  }
  
  .prizeimage img {
    width: 100%;
    max-width: 110px;
    display: block;
    height: auto;
    transform: rotate(10deg);
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }
  
  .prizeinfo {
    // position: absolute;
    z-index: 5;
    right: 0rem;
    width: 70%;
    margin-left: 20%;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
    @media screen and (min-width:1024px) {
      position: absolute;
      margin-top: 0;
      margin-left: 1rem;
      width: 50%;
    }
    
    h3 {
      font-size: 5rem;
    }
    p {
      text-transform: uppercase;
    }
  }
  
  .rules {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    @media screen and (min-width:1024px) {
      height: 100vh;
    }
  }
  
  .ruleslist {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  
    @media screen and (min-width:1024px) {
      flex-direction: row;
      width: 80%;
    }
  }
  
  .rule {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
    height: 420px;
    overflow: hidden;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 3rem;
  
    @media screen and (min-width:1024px) {
      height: 420px;
      width: 32%;
      margin-bottom: 0;
    }
  
    &:hover {
  
      span {
        right: -5rem;
        top: -8rem;
      }
    }
  }
  
  .rule span {
    display: block;
    font-size: 25rem;
    font-weight: 800;
    position: absolute;
    right: -4rem;
    opacity: 0.2;
    top: -7rem;
    transition: all 0.3s ease-in-out;
  }
  
  .rule h4 {
    font-size: 1.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  
  .rule p {
    font-size: 1rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  
  .form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width:1024px) {
        height: 100vh;
    }


  }
  
  .formwrap {
    width: 85%;
    margin: 2rem auto;
    background-color: antiquewhite;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 1rem;
  
    @media screen and (min-width:1024px) {
      width: 50%;
    }
  
    @media screen and (min-width:1440px) {
      width: 40%;
    }
  }
  
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    img {
      width: 100%;
      max-width: 250px;
      margin-bottom: 3rem;
    }
    p {
      margin-bottom: 0.5rem;
    }
    a {
      color: black;
      margin-bottom: 3rem;
    }
  }